<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="navbar-brand">Weather App</a>
      </div>
      <ul class="navbar-nav navbar-collapse justify-content-end"></ul>
  </nav>
</header>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <label>
    Username: <input type="text" formControlName="username" placeholder="Enter Username">
  </label>
  <label>
    Password: <input type="password" formControlName="password" placeholder="Enter Password">
  </label>
  <button type="submit">Login</button>
  <button type="submit" (click)="register()">Register</button>
</form>
