<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div><a href="/main" class="navbar-brand">WeatherDuck</a></div>
      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li>
          <a *ngIf="islogin" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
        </li>

      </ul>
    </nav>
  </header>
  <!--case: is not login -->
  <div [hidden]=!islogin>
    <!--1st row-->
    <div class="row text-center login-page-title">
      <p class="h2 ">Welcome Back!</p>
      <p class="h4">You are logged in</p>


    </div>
    
    <!--END of 1st row-->
  </div>
  <!-- case: is login -->
  <div [hidden]=islogin>
    <!--1st row-->
    <div class="row text-center login-page-title  "  >
      <div  style="text-align: center; height: 100%; margin: 0;padding: 0; width: 100%;"><p class="h2 ">Welcome Back!</p>  </div>
      <div  style="text-align: center; height: 100%; margin: 0;padding: 0; width: 100%;"> <p class="h4">Please log in to your account.</p>  </div>
    
    </div>
    <!--END of 1st row-->


    <!--2nd row-->
    <div class="row   justify-content-center  ">
      <div class="col-md-2"></div>
      <div class="col-md-8  justify-content-center ">


        <!-- Default form login -->
        <form class="text-center p-5 form-card justify-content-center " [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p class="h4 mb-4">Sign in</p>
          <div *ngIf="showErrorMessage">
            <h3 style="color: red;">Invalid username and password. Please try again</h3>
          </div>
          <!-- Username -->
          <p class="h6 mb-4" style=" text-align: left">Username</p>
          <input type="text" formControlName="username" placeholder="Enter Username" class="form-control mb-4">
          <!-- Password -->
          <p class="h6 mb-4" style=" text-align: left">Password</p>
          <input type="password" formControlName="password" placeholder="Enter Password" class="form-control mb-4">
          <div class="d-flex justify-content-around">

            <div>
              <!-- Forgot password -->
              <a href="/forgot">Forgot password?</a>
            </div>
          </div>
          <!-- Sign in button -->
          <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
          <!-- Register -->
          <p>Not a member?
            <a href="register()">Register</a>
          </p>
        </form>


      </div>
      <div class="col-md-2"></div>
    </div>

    <!--footer-->
    <div class="row text-center " style="padding-top: 30%">
      <div class="col  ">
        <footer class=" text-white">
          <!-- Grid container -->
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgb(7, 24, 27);">
            © 2022 Copyright:
            <a class="text-white" href="http://localhost:4200/main">WeatherChannel.com</a>
          </div>
          <!-- Copyright -->
        </footer>
      </div>
    </div>
  </div>
</body>

</html>

