<form [formGroup] =  "formdata" (submit) = "onclickSubmit(formdata.value)" >
<div class="container">
  <div class="header">
    <h1>Weather Channel</h1>
  </div>
  <div class="user-input">
    <input
    type="text"  name = "zipcode" formControlName="zipcode"
    placeholder="Enter Zip Code" 
    >
  <button type="submit">Get weather</button>
  </div>
  <div class="weather-output">
    <p>Weather for Zip Code {{zipcode}}:</p>
    <p>{{weather}}</p>
  </div>

<!-- Testing how angular works, not the final design -->
  <div class="tester">
    <div class="user-input">
      <input
      type="text"  placeholder="Enter Latitude" 
      >
      <input type="text" placeholder="Enter Longitude" 
      >
    <button (click)="onclickSubmit2()" type=submit>Get weather</button>
    </div>
    <p>zipcode entered is : {{zipcode}}  </p>
    <p>Return weather: {{weather}}</p>
    <p>---------------------------</p>
    <div>Message from backend: </div>
    <div>{{message}}</div>
    <div>{{result}}</div>
  
</div>


