<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <header>
      <!-- Background image -->
      <div class="p-5 text-center bg-image bg-1 shadow-lg  img-fluid" style=" background-size: cover;background-image: url('https://images.unsplash.com/photo-1539667468225-eebb663053e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1634&q=80');
          height: 400px;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Weather Channel</h1>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
<body>
  <app-menu></app-menu>
  <div class="appcontainer">

    <div class="row p-5 ">
      <!--begin of left col-->
      <div class="col-7  bg-1 ">
        <!--1st row-->
        <div class="row justify-content-center">
          <div class="col-8 ">
            <div *ngIf="invalidLocation">
              <h4 class="alert alert-warning" style="font-size: medium;">Location does not exist, check your input address</h4>
          </div>
          <p class="weather-title ">Search City</p>
            <div><input class="form-control input-lg  " placeholder="Enter city name" ngx-google-places-autocomplete
                (onAddressChange)="handleAddressChange($event)"></div>
            <!--#search bar-->
          </div>
        </div>

        <!--2nd row-->
        <div class="row justify-content-center p-5 ">
          <p class="weather-title ">Weather Summary Card</p>
          <div class="col-1"></div>
          <div class="weather-output weather-card" style="background-image: url({{conditionUrl}});">
            <div class="col 10 ">
              <div class="row ">
                <div *ngIf="invalidLocation" class="col-8 shadow-inner">
                  <p>Address:</p>
                  <p>Weather:</p>
                  <p>Temperature:</p>
                  <p>Description:</p>
                </div>
                <div *ngIf="!invalidLocation" class="col-8 shadow-inner">
                  <p>Address: {{ userAddress}}</p>
                  <p>Weather: {{ weather?.condition }}</p>
                  <p>Temperature: {{weather?.temp}} °F| {{convertToC(weather?.temp)}} °C</p>
                  <p>Description: {{weather?.description | titlecase}}</p>
                </div>
                <div *ngIf="!invalidLocation" class="col-4 ">
                  <img class="card-img rounded-circle center" >
        
      <img class="card-img  center" *ngIf="weather?.condition == 'Clear'"
      src="/assets/img/sunny.png">
      <img class="card-img  center" *ngIf="weather?.condition == 'Clouds'"
      src="/assets/img/cloudy.png">
      <img class="card-img  center" *ngIf="weather?.condition == 'Thunderstorm'"
      src="/assets/img/storm.png">
    <img class="card-img rounded-circle center" *ngIf="weather?.condition == 'Drizzle'"
    src="/assets/img/Drizzle.png">
      <img class="card-img  center" *ngIf="weather?.condition == 'Rain'"
      src="/assets/img/rain.png">
      <img class="card-img center" *ngIf="weather?.condition == 'Snow'"
      src="/assets/img/snow.png">
    <img class="card-img center" *ngIf="weather?.condition == 'Mist'"
    src="/assets/img/mist.png">
    <img class="card-img  center" *ngIf="weather?.condition == 'Smoke'"
    src="/assets/img/smoke.png">
    <img class="card-img  center" *ngIf="weather?.condition == 'Haze'"
    src="/assets/img/haze.png">
    <img class="card-img  center" *ngIf="weather?.condition == 'Dust'"
    src="/assets/img/Dust.png">

    <img class="card-img  center" *ngIf="weather?.condition == 'Fog'"
    src="/assets/img/Fog.png">
    <img class="card-img  center" *ngIf="weather?.condition == 'Sand'"
    src="/assets/img/Sand.png">
    <img class="card-img  center" *ngIf="weather?.condition == 'Ash'"
    src="/assets/img/volcano.png">
    <img class="card-img  center" *ngIf="weather?.condition == 'Squall'"
    src="/assets/img/tornado.png">
    <img class="card-img  center" *ngIf="weather?.condition == 'Tornado'"
    src="/assets/img/tornado.png">
                </div>

              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>



        <!--3rd row-->
        <div class="row justify-content-center p-5">
          <p class="weather-title">Weather Detail Card</p>
          <div class="col-1"></div>
          <div class="weather-output weather-card" style="background-image: url({{conditionUrl}});">
       
              <div class="row ">
                <div *ngIf="invalidLocation" class="shadow-inner">
                  <p>Feels like :</p>
                  <p>Pressure:</p>
                  <p>Humidity:</p>
                  <p>Wind Speed:</p>
                  <p>Wind Degree:</p>
                </div>

                <div *ngIf="!invalidLocation" class="shadow-inner">
                  <p>Feels like :{{weather?.feels_like}} °F | {{convertToC(weather?.feels_like)}} °C</p>
                  <p>Pressure: {{ weather?.pressure}}hPa</p>
                  <p>Humidity: {{ weather?.humidity }}%</p>
                  <p>Wind Speed: {{weather?.speed}} Miles/hour | {{convertToMeter(weather?.speed)}} Meters/hour</p>
                  <p>Wind Degree: {{weather?.deg}} {{weather?.speed}} phm </p>
                </div>
              </div>

    
          </div>
          <div class="col-1"></div>
        </div>
        <div>

        </div>
        <!--4th row-->
 


      </div>
      <!--end of left col-->
      <div class="col-1 "> </div>

      <!--begin of right col -->
      <div class="col-4 p-2 bg-1">
        <p class="weather-title ">Forecast</p>
        <!--1st row-->
        <div class="row">
          <div *ngIf="loadForecest">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="h5">
                    {{forecast[0]?.dateOfWeek}} , {{forecast[0]?.month}} {{forecast[0]?.day}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let i of forecast | slice:0:slices[0]">
                  <!--inner expansion pane-->
                  <mat-expansion-panel style="margin: 10px;">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>{{i.hour}}</p>
                      </mat-panel-title>
                      <mat-panel-description>
                        <p class="p-3">{{i.temp}} °F | {{convertToC(i.temp)}} °C</p>
                        <img style="width: 20%" src={{i.iconUrl}}> 
                      </mat-panel-description>
                    </mat-expansion-panel-header>
 
                    <div class="expansion-card shadow-lg">
                      Date:
                      <p>{{i.localTime}} {{i.hour}} {{i.shortTimezone}}</p>

                      <div class="row">
                        <div class="col-5">
                          Feels Like:
                          <p>{{i.feels_like}} °F | {{convertToC(i.feels_like)}} °C </p>
                        </div>
                        <div class="col-4">
                          Wind:
                          <p> {{i.deg}} {{i.speed}} phm </p>
                        </div>
                        <div class="col-3">
                          Humidity:
                          <p> {{i.humidity}} % </p>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <!--END of inner expansion pane-->
                </div>
              </mat-expansion-panel>



              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="h5">
                    {{forecast[slices[0]]?.dateOfWeek}} , {{forecast[slices[0]]?.month}} {{forecast[slices[0]]?.day}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let i of forecast | slice:slices[0]:slices[1]">
                  <!--inner expansion pane-->
                  <mat-expansion-panel style="margin: 10px;">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>{{i.hour}}</p>
                      </mat-panel-title>

                      <mat-panel-description>
                        <p class="p-3">{{i.temp}} °F | {{convertToC(i.temp)}} °C</p>
                        <img style="width: 20%" src={{i.iconUrl}}> {{i.condition}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="expansion-card shadow-lg">
                      Date:
                      <p>{{i.localTime}} {{i.hour}} {{i.shortTimezone}}</p>

                      <div class="row">
                        <div class="col-5">
                          Feels Like:
                          <p>{{i.feels_like}} °F | {{convertToC(i.feels_like)}} °C </p>
                        </div>
                        <div class="col-4">
                          Wind:
                          <p> {{i.deg}} {{i.speed}} phm </p>
                        </div>
                        <div class="col-3">
                          Humidity:
                          <p> {{i.humidity}} % </p>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <!--END of inner expansion pane-->

                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="h5">
                    {{forecast[slices[1]]?.dateOfWeek}} , {{forecast[slices[1]]?.month}} {{forecast[slices[1]]?.day}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let i of forecast | slice:slices[1]:slices[2]">
                  <!--inner expansion pane-->
                  <mat-expansion-panel style="margin: 10px;">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>{{i.hour}}</p>
                      </mat-panel-title>

                      <mat-panel-description>
                        <p class="p-3">{{i.temp}} °F | {{convertToC(i.temp)}} °C</p>
                        <img style="width: 20%" src={{i.iconUrl}}> {{i.condition}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="expansion-card shadow-lg">
                      Date:
                      <p>{{i.localTime}} {{i.hour}} {{i.shortTimezone}}</p>

                      <div class="row">
                        <div class="col-5">
                          Feels Like:
                          <p>{{i.feels_like}} °F | {{convertToC(i.feels_like)}} °C </p>
                        </div>
                        <div class="col-4">
                          Wind:
                          <p> {{i.deg}} {{i.speed}} phm </p>
                        </div>
                        <div class="col-3">
                          Humidity:
                          <p> {{i.humidity}} % </p>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <!--END of inner expansion pane-->
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="h5">
                    {{forecast[slices[2]]?.dateOfWeek}} , {{forecast[slices[2]]?.month}} {{forecast[slices[2]]?.day}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let i of forecast | slice:slices[2]:slices[3]">
                  <!--inner expansion pane-->
                  <mat-expansion-panel style="margin: 10px;">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>{{i.hour}}</p>
                      </mat-panel-title>

                      <mat-panel-description>
                        <p class="p-3">{{i.temp}} °F | {{convertToC(i.temp)}} °C</p>
                        <img style="width: 20%" src={{i.iconUrl}}> {{i.condition}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="expansion-card shadow-lg">
                      Date:
                      <p>{{i.localTime}} {{i.hour}} {{i.shortTimezone}}</p>

                      <div class="row">
                        <div class="col-5">
                          Feels Like:
                          <p>{{i.feels_like}} °F | {{convertToC(i.feels_like)}} °C </p>
                        </div>
                        <div class="col-4">
                          Wind:
                          <p> {{i.deg}} {{i.speed}} phm </p>
                        </div>
                        <div class="col-3">
                          Humidity:
                          <p> {{i.humidity}} % </p>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <!--END of inner expansion pane-->
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="h5">
                    {{forecast[slices[3]]?.dateOfWeek}} , {{forecast[slices[3]]?.month}} {{forecast[slices[3]]?.day}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let i of forecast | slice:slices[3]:slices[4]">
                  <!--inner expansion pane-->
                  <mat-expansion-panel style="margin: 10px;">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>{{i.hour}}</p>
                      </mat-panel-title>

                      <mat-panel-description>
                        <p class="p-3">{{i.temp}} °F | {{convertToC(i.temp)}} °C</p>
                        <img style="width: 20%" src={{i.iconUrl}}> {{i.condition}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="expansion-card shadow-lg">
                      Date:
                      <p>{{i.localTime}} {{i.hour}} {{i.shortTimezone}}</p>

                      <div class="row">
                        <div class="col-5">
                          Feels Like:
                          <p>{{i.feels_like}} °F | {{convertToC(i.feels_like)}} °C </p>
                        </div>
                        <div class="col-4">
                          Wind:
                          <p> {{i.deg}} {{i.speed}} phm </p>
                        </div>
                        <div class="col-3">
                          Humidity:
                          <p> {{i.humidity}} % </p>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <!--END of inner expansion pane-->
                </div>
              </mat-expansion-panel>
              
            </mat-accordion>

          </div>

          <!-- <div *ngFor="let element of forecast">
                  <p>Date: {{element.date}} </p>
                  <p>Temperature: {{element.temp}} </p>
                  <p>Max Temperature: {{element.max_temp}}, Min Temperature: {{element.min_temp}}</p>
                  <p>Condition: {{element.condition}}</p>
            </div>  -->
            <div class="row p-5">
              <p class="weather-title  ">Google Map</p>
              <div class="col-12">
                <div class="full " id="map">
    
                </div>
              </div>
    
            </div>
        </div>
      </div>
      <!--2nd row-->

    </div>
    <!--end of right col -->
 
  </div>
  <!--END of main row-->
 
  <!--footer-->
  <div class="row text-center " style="padding-top: 30%">
    <div class="col  ">
      <footer class=" text-white">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(7, 24, 27);">
          © 2022 Copyright:
          <a class="text-white" href="http://localhost:4200/main">WeatherChannel.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
  </div>

  <!--END of container-->
</body>

</html>