<div class="alert alert-success " role="alert">
    <h4 class="alert alert-warning"> Acess denial </h4>
    <p>"You must <a href="/" class="alert-link">Login</a>  to access this page!"</p>
    <hr>
    <p class="mb-0"><a href="/register" class="alert-link">Sign up</a> today! It's free!</p>
</div>
<div>
  <!-- <img src="https://c.tenor.com/NkAegm0IP8IAAAAC/popcat.gif">  -->
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/30d3db5e-14ef-42ea-973e-23dd31b9b5c4/depew8q-74a1c393-99d0-43b0-8d7f-02e834634ee3.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMwZDNkYjVlLTE0ZWYtNDJlYS05NzNlLTIzZGQzMWI5YjVjNFwvZGVwZXc4cS03NGExYzM5My05OWQwLTQzYjAtOGQ3Zi0wMmU4MzQ2MzRlZTMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.taKR1NgPy5XLK1dGT00bit1StRnsPSORrEepioZlTuY"> 
  <img src="https://cdn.discordapp.com/emojis/942941562701221989.webp?size=96&quality=lossless">
</div>