<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="card text-center">
        <div class="card-header">Change Password </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <div style="margin: 0 auto;">
                <input type="text" formControlName="username" placeholder="Username" class="form-control input-lg">
                <div *ngIf="submitted && username?.errors?.['required']" style="color:red"> Username required.</div>
                <p>What was your favorite food as a child?</p>
                <input type="text" formControlName="answer" placeholder="Answer" class="form-control input-lg">
                <div *ngIf="submitted && answer?.errors?.['required']" style="color:red"> Answer required.</div>
                <input type="password" formControlName="password" placeholder="Enter New password" class="form-control input-lg">
                <div *ngIf="submitted && password?.errors?.['required']" style="color:red">Password required.</div>
                <div *ngIf="submitted && password?.errors?.['minlength']" style="color:red">Password must be 6 characters long.</div>
                <button mdbBtn color="info" block="true" class="my-4" type="submit"> Submit </button>

            </div>
        </div>
    </div>
</form>
